.weather__part {
  display: flex;
  justify-content: space-between;

}

.weather-block {
  transform: translateY(50px);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  /* display: none; */
}

.weather__part:nth-child(1) {
  align-items: center;
}

.container {
  max-width: 700px;
}

body {
  background: rgb(191, 63, 251);
  background: linear-gradient(270deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  font-family: 'Montserrat', sans-serif;
}

.weather__stats {
  display: flex;
}

span[title="Город"] {
  font-size: .8rem;
}

.feed__row {
  display: flex;
  align-items: center;
}

.weather {}

.feed__row-img {
  border-radius: 50%;
  width: 40px;
  /* float: left; */
  margin-right: 20px;
}

.feed__row+.feed__row {
  margin-top: 40px;
}

.feed {
  border-right: 3px solid skyblue;
  max-width: 250px;
  padding-right: 5px;
}

.predict__day-image {
  width: 70px;
}

.predict {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding-left: 40px; */
}

.predict__day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predict__day+.predict__day {
  /* margin-left: 30px; */
}

.weather .row:nth-child(1) {
  background-color: rgb(132, 0, 255);
  border-radius: 10px 10px 0 0;
  /* align-items: center; */
  padding: 20px 50px;
  box-shadow: 5px 10px 10px rgb(112, 110, 110);
}

.weather .row:nth-child(2) {
  background-color: #fff;
  padding: 40px 0;

}

.weather__part-temp h1 {
  font-size: 8rem;
  color: #fff;
  font-weight: bold;
}

.weather__part-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__part-temp p {
  text-transform: uppercase;
  color: #fff;
}

.weather {
  border-radius: 20px;
  margin-top: 20%;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__stats {
  /* max-width: 100%; */
  display: flex;
  justify-content: flex-start;
}

.stat:nth-child(1) {
  border-right: 1px solid skyblue;
  padding-right: 20px;
}

.stat:nth-child(2) {
  padding-left: 20px;
}

.stat__title {
  color: #fff;
  font-weight: bold;
}

.stat__value--humidity,
.stat__value--wind {
  color: #fff;
  font-weight: 100;
}

.weather__part-city {
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
}

input,
button {
  outline: unset;
  border: unset;
  border-radius: 20px;
}

.city-target {
  max-width: 200px;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.city-target {
  padding: 10px 10px;
}

.city-target::placeholder {
  opacity: 0.2;
}

button {
  padding: 10px 30px;
  background-color: #ff4040;
  color: #fff;
  border-radius: 20px;

}

@media (max-width: 768px) {
  .weather__part-temp h1 {
    font-size: 4rem;
  }
}